@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");

.App {
	text-align: center;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#timer {
	margin-top: 1rem;
	font-family: "Dosis", "Roboto";
	color: #202020;
}

h1 {
	margin: 1rem;
	font-family: "Dosis", "Roboto";
	font-weight: bold;
	color: #383838;
}

#timer > p {
	margin: 1rem;
	font-size: large;
}

#timer > span {
	margin: 0rem;
	margin-top: 1rem;
	color: #707070;
}

#timer > img {
	margin: 4rem;
	height: 200px;
}

.form-page {
	display: flex;
	width: 100%;
	padding: 0 2rem;
}

@media screen and (max-width: 768px) {
 .form-page {
	 flex-direction: column;
 }
}

#form {
	padding: 1rem;
	width: 100%;
	font-family: "Dosis", "Roboto";
	color: #202020;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#form > p {
	font-family: "Dosis", "Roboto";
	color: #4b4b4b90;
	font-size: 12px;
}

#form > * {
	margin: 1rem 0;
}

#form > .card {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	padding: 1rem;
	width: 100%;
}

#form > .card > .divider {
	width: 100%;
	height: 2px;
	background-color: #bebebe90;
	margin: 1rem 0;
}

#form > .divider {
	width: 100%;
	margin: 0.5rem 0;
	border: 4px dashed #bebebe90;
}

#form > .card > input,
#form > .card > textarea,
#form > .card > button {
	font-family: "Dosis", "Roboto";
	color: #202020;
}

#form > .card > input,
#form > .card > textarea {
	border: 0;
	border-radius: 0.5rem;
	width: 100%;
}

#form > .card > input:focus,
#form > .card > textarea:focus {
	outline: none;
	box-shadow: none;
}

#form > .card > textarea {
	min-height: 20rem;
}

#form * button,
#form > label {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Dosis", "Roboto";
	font-weight: bold;
	font-size: 14px;
	border: 2px solid #707070;
	color: #707070;
	background-color: white;
	border-radius: 100px;
	outline: none;
	cursor: pointer;

	padding: 6px 24px;
	margin: 0 0.5rem;
	transition: transform 0.3s, box-shadow 0.3s;
}

#form > label {
	margin-top: 1rem;
}

@media (hover: hover) {
	#form * button:hover,
	#form > label:hover {
		box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.26);
		transform: translateY(-3px) translateX(-3px);
	}
}

#form > #error-para {
	color: red;
	font-weight: bold;
	margin: 0;
	font-size: 16px;
}
