@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");

.App {
	text-align: center;
	min-height: 60vh;
}

#timer {
	margin-top: 2rem;
	font-family: "Dosis", "Roboto";
	color: #202020;
}

 h1 {
	margin: 1rem;
	font-family: "Dosis", "Roboto";
	font-weight: bold;
}

#timer > p {
	margin: 1rem;
	font-size: large;
}

#timer > span {
	margin: 0rem;
	margin-top: 1rem;
	color: #707070;
}

#timer > img {
	margin: 4rem;
	height: 200px;
}
